

body , .pure-g [class *= "pure-u"] {
    color: #444;
    font-size: 1em;
    line-height: 1.2;
    word-wrap: break-word;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}
h1,h2,h3,h4 {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

h1 a,h2 a,h3 a,h4 a,
h1 a:focus,h2 a:focus,h3 a:focus,h4 a:focus,
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover { 
    color:#111111;
    text-decoration: none;
}


/* Sidebar and Mneu */
.sidebar h1 {font-size: 1.4em;}

.sidebar header  {font-size: 0.8em;}
.sidebar p {line-height: 2em}

h3 {
    font-weight: 100;
}
a.screen-reader-text{
    position: absolute;
    top: -1000em
   
    
}
  

  .nav-menu {

    list-style-type: none;
    margin: 0 2em;
    padding: 0;
    overflow: hidden;
    text-align:right;
  }
  .secondary {
    font-size: 0.8em;
  }
.nav-menu-heading {
        font-size: 1.4em;
         text-align:right;
         margin: 0.67em 1.5em;
         border-bottom: 1px #e6e1e1 solid;
}

a.screen-reader-text:focus {
    left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: #f1f1f1;
    color: #0073aa;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
    letter-spacing: 0.1em;
}

   

/* LAYOUT CSS */

/* Add a gutter to Pure's Columns */
.articles {
  margin: 0 -1.6em;
}

.articles > * {
  padding: 0 1.6em;
}



.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #F2F2F2;
    color: #fff;
}

.title,
tagline {
    margin: 0;
}
.title {
    text-transform: uppercase;
}
.tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

/* Categories   Edit category_template in wpinludes*/
ul.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 0.7em;
}

.categories li {
    float: left;
    margin-right: 0.2em;
}

.categories li a , .categories span {
    display: block;
    padding: 0.3em;
    background-color: #dddddd;
}

.categories span {
	float:left;
	display:inline-block;
	background-color: transparent;

}

.categories .react.js{background-color: #dddddd;},
.categories .react.js{background-color: #dddddd;},
.categories .react.js{background-color: #dddddd;},
.categories .react.js{background-color: #dddddd;},
.categories .react.js{background-color: #dddddd;},
.categories .react.js{background-color: #dddddd;},
.categories .react.js{background-color: #dddddd;},

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.article {
    padding-bottom: 2em;
}

.pure-g .pure-g--gutter > div > * {
    margin: 0 0.5rem;
}
.article-title {
    font-size: 1.4em;
    color: #222;
    margin-bottom: 0.2em;
}
.article-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.article-description {
  
    color: #444;
    line-height: 1.6em;
}
.article-meta {
    color: #999;
    font-size: 80%;
    margin: 0 0 1.3em 0;
}

.article-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .article-category-design {
        background: #5aba59;
    }
    .article-category-pure {
        background: #4d85d1;
    }
    .article-category-yui {
        background: #8156a7;
    }
    .article-category-js {
        background: #df2d4f;
    }

.article-images {
    margin: 1em 0;
}
.article-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header,.sidebar header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }

    .articles.cards > article > * {
    margin: 0 0.5rem;
}
}
